<h1>CONTACT US</h1>
<form action="/contact" method="POST">
  
  <%= "<h2 class=\"error_message\">#{@error_message}</h2>" if @error_message %>
  
  <h3>Fill out the form below to e-mail the station admins. To talk to a DJ, use the contact info on the right.</h3>
  
  <label for="contact[name]">Name:<br/></label>
  <input name="contact[name]" type="text" value="<%= h @contact.name %>"/>
  <br/>
  <label for="contact[email]">E-mail:</label>
  <input name="contact[email]" type="text" value="<%= h @contact.email %>"/>
  <br/>
  <label for="contact[subject]">Subject:</label>
  <input name="contact[subject]" type="text" value="<%= h @contact.subject %>"/>
  <br/>
  <label for="contact[message]">Message:</label>
  <textarea name="contact[message]"><%= h @contact.message %></textarea>
  <br/>
  <label for="contact[blue_meanies_are]">Anti-spam question: What color are the blue meanies?</label>
  <input name="contact[blue_meanies_are]" type="text" value="<%= @contact.human_being %>" maxlength="4" size="4" class="human_being" />
  <br/>
  <input type="submit" name="submitbutton" id="submitbutton" value="Shout Out"/>
</form>