#programs
  %h1 WEEKLY SCHEDULE
  .per_day_schedule_link
    Per-day schedule:
    = link_to 'Click here', programs_path
%table.calendar
  %thead
    %tr
      %th Time
      - Date::DAYNAMES.each do |day|
        %th= day
  %tbody
    - two_digit_hours.each do |hour|
      %tr
        %td.hour= hour_24_to_12 hour.to_i
        - Date::DAYNAMES.each_with_index do |day,i|
          - if program = Program.active.where(day_of_week: i).where(start_hour: hour).first
            %td{:class => "active_start #{'active_end' if program.end_hour == hour}"}
              = link_to program.name.html_safe, program_path(program)
              %br/
              %small
                with #{h program.deejays}

          - elsif program = Program.active.where(day_of_week: i).where(end_hour: hour).first
            %td.active_end
          - else
            %td
