<div id="programs">
  <h1>WEEKLY SCHEDULE</h1>
  <div class="per_day_schedule_link">
    Per-day schedule: <a href="/programs">Click here</a>
  </div>
</div>

<table class="calendar">
  <thead>
    <tr>
      <th>Time</th>
      <% Date::DAYNAMES.each do |day| %>
        <th><%= day %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% Date::ASTRONOMICAL_TIME_HOURS.each do |hour| %>
      <tr>
        <td class="hour"><%= hour.hour_24_to_12 %></td>
        <% Date::DAYNAMES.each_with_index do |day,i| %>
          <% if program = @programs.first_program(:day_of_week => i, :start_hour => hour) %>
            <td class="active_start <%= 'active_end' if program.end_hour == hour %>">
              <a href="/programs/<%= program.id %>-<%= program.name.url_friendly %>"><%= h program.name %></a>
              <br/>
              <small>with <%= h program.deejays %></small>
            </td>
          <% elsif program = @programs.first_program(:day_of_week => i, :end_hour => hour) %>
            <td class="active_end"></td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
