#programs
  %h1 WEEKLY SCHEDULE
  .per_day_schedule_link
    Per-day schedule:
    %a{:href => "/programs"} Click here
%table.calendar
  %thead
    %tr
      %th Time
      - Date::DAYNAMES.each do |day|
        %th= day
  %tbody
    - Date::ASTRONOMICAL_TIME_HOURS.each do |hour|
      %tr
        %td.hour= hour.hour_24_to_12
        - Date::DAYNAMES.each_with_index do |day,i|
          - if program = @programs.first_program(:day_of_week => i, :start_hour => hour)
            %td{:class => "active_start #{'active_end' if program.end_hour == hour}"}
              %a{:href => "/programs/#{program.id}-#{program.name.url_friendly}"}= h program.name
              %br/
              %small
                with #{h program.deejays}
          - elsif program = @programs.first_program(:day_of_week => i, :end_hour => hour)
            %td.active_end
          - else
            %td
