<div id="programs">
  <h1>SCHEDULE</h1>
  
  <%= partial :'programs/_day_of_week_nav', :day_of_week => @day_of_week %>
  <% @programs.each do |program| %>
    <div class="program">
      <div class="info">
        <%= program.start_time %> - <%= program.end_time %><br/>
        <h3><a href="/programs/<%= program.id %>-<%= program.name.url_friendly%>"><%= program.name %></a></h3><br/>
        <% if program.amazon_filename %>
          <img src="<%= program.amazon_public_url(:medium) %>"/>
        <% end %>
        </div>
      <div class="right"><%= program.description %></div>
    </div>
  <% end %>
</div>