#program
  - if @program.amazon_filename
    %br/
  /   %center
  /
  %h1= h @program.title
  %h2
    with #{h @user.djname}
  %h2
    / = Date::DAYNAMES[@program.day_of_week]+ "s"
    / PENDING MIGRATION CHANGES
    / from START_TIME to END_TIME
  %h3= h @program.description
  / DEBUG: <haml:loud> h @program.end_time_in_seconds </haml:loud>
  = image_tag @program.avatar.url(:large)
  - if @program.program_url
    %h4
      %strong Website:
      = link_to @program.program_url, program_path(@program)
  %br/
  - if current_user && current_user.id ==  @program.user_id 
    = link_to "Edit", edit_program_path(@program), class: "btn btn-danger"
  / %h2 PREVIOUS SHOWS
  / - if @program.episodes.length == 0
  /   .episode
  /     No archived shows yet.
  / - else
  /   - @program.episodes.each do |episode|
  /     .episode
  /       %h2= h episode.when.strftime('%B %d, %Y')
  /       .play_embed
  /         %p{:id => "episode_#{episode.id}"}
  /         / HTML 5 FOR MOBILE
  /         .play_embed
  /           HTML5 Player (if supported)
  /           %audio{:controls => ""}
  /             %source{"--" => "", :src => episode_link(episode), :type => "audio/mpeg"}
  /               / source src="http://www.houseofsound.org/<haml:loud> episode.file_public_path </haml:loud>" /
  /               :javascript
  /                 AudioPlayer.embed("episode_#{episode.id}", {
  /                   soundFile: "#{episode.file_public_path}",
  /                   titles: "#{escape_javascript episode.program.title} - #{escape_javascript episode.when.strftime('%B %d %Y')}",
  /                 });
  /       %span.play_link/
  /       %h2
  /         %a{:href => episode_link(episode)} Download
