#schedules
  %h1 Schedule
  .container-fluid

    - @schedules.keys.sort.each do |day|
      - schedules = @schedules[day]
      .row
        .row
          %h3
            = to_day(day)
        %table{:class => "table table-hover", :width => "100%"}
          %tr
            - schedules.sort_by! { |schedule, start_time | schedule.start_time }.each do |schedule|
              %td{:width => "#{schedule.duration / day_total(schedules)}%"}
                = schedule.start_time.strftime("%l:%M%P") + '-' + (schedule.start_time + schedule.duration.minutes).strftime("%l:%M%P")
                %br
                = schedule.program.title
                = image_tag schedule.program.avatar.url(:medium)




