!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    =csrf_meta_tags
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "House of Sound is the largest free-form radio station in Portland, Oregon. Our DJs play whatever they want - unlike other local radio stations, there is no compulsory \"Top Hits\" rotation.", :name => "description"}/
    %title House of Sound
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'custom'

    = javascript_include_tag 'swfobject'
    = javascript_include_tag 'audio-player'
    = javascript_include_tag 'application'

  %body
    
    .well.col-md-6
      <div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
      <div class="fb-post" data-href="https://www.facebook.com/photo.php?fbid=10152444722962145&amp;set=a.109701332144.88271.100809577144&amp;type=1" data-width="466"><div class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/photo.php?fbid=10152444722962145&amp;set=a.109701332144.88271.100809577144&amp;type=1">Post</a> by <a href="https://www.facebook.com/houseofsound">House of Sound</a>.</div></div>

      <div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
      <div class="fb-post" data-href="https://www.facebook.com/houseofsound/posts/10152444623887145" data-width="466"><div class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/houseofsound/posts/10152444623887145">Post</a> by <a href="https://www.facebook.com/houseofsound">House of Sound</a>.</div></div>

      <div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
      <div class="fb-post" data-href="https://www.facebook.com/houseofsound/posts/10152443761742145" data-width="466"><div class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/houseofsound/posts/10152443761742145">Post</a> by <a href="https://www.facebook.com/houseofsound">House of Sound</a>.</div></div>




    .well.col-md-5.col-sm-offset-1
      %p NOW PLAYING Cat ipsum. Thai abyssinian . Bengal manx and munchkin but tom. Cheetah kitten but british shorthair cougar but british shorthair, so tabby. Grimalkin jaguar and malkin munchkin lynx, yet birman for kitten. Tabby mouser. Maine coon cornish rex leopard and singapura. Bobcat thai american shorthair turkish angora. Cheetah. Birman birman so tiger sphynx. Donskoy savannah for kitty tom or tabby bengal and devonshire rex. American bobtail american bobtail tomcat cougar manx burmese. Tiger abyssinian . Ocelot maine coon leopard. Birman leopard cougar cornish rex scottish fold. Lynx ocelot cheetah devonshire rex american shorthair yet kitty. Scottish fold siamese turkish angora and lion birman for lynx kitten. Cornish rex panther bobcat ragdoll or cougar and tiger. Burmese cornish rex, himalayan and birman. Devonshire rex munchkin tom scottish fold lynx but cougar american bobtail. Norwegian forest savannah leopard but tiger, kitten. Ocelot turkish angora tomcat.

      Donskoy sphynx ragdoll or american shorthair. Birman. American bobtail kitty but havana brown and mouser but donskoy persian. Munchkin panther munchkin but sphynx russian blue. Lion munchkin. Tiger devonshire rex or bombay himalayan. Russian blue balinese yet cornish rex leopard so devonshire rex balinese . Russian blue tomcat scottish fold, burmese but leopard turkish angora for burmese. Bobcat mouser, but ocicat ragdoll singapura but turkish angora jaguar. Ragdoll maine coon bengal, so bengal. Cornish rex mouser. Tomcat bobcat tabby, so grimalkin or tom for birman.

    .listen_now.well.col-md-5.col-sm-offset-1
      LISTEN NOW

    .contact_dj.well.col-md-5.col-sm-offset-1
      %p Call the DJ
      %p 503-575-9344

    .twitter.well.col-md-5.col-sm-offset-1
      <a class="twitter-timeline" href="https://twitter.com/houseofsound" data-widget-id="471797898695303168">Tweets by @houseofsound</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



