!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    =csrf_meta_tags
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "House of Sound is the largest free-form radio station in Portland, Oregon. Our DJs play whatever they want - unlike other local radio stations, there is no compulsory \"Top Hits\" rotation.", :name => "description"}/
    %title House of Sound
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'custom'

    = javascript_include_tag 'swfobject'
    = javascript_include_tag 'audio-player'
    = javascript_include_tag 'application'

    %script{type: "text/javascript", src: "http://www.skypeassets.com/i/scom/js/skype-uri.js"}

  %body
    .col-sm-7
      .tumblr.well
        %p HOUSE OF SOUND
        %script{type: "text/javascript", src: "http://houseofsoundradio.tumblr.com/js"}

      .donate.well
        %p IPSUM Cat ipsum. Cheetah kitten but british shorthair cougar but british shorthair, so tabby.

      .affiliates.well
        %p IPSUM 2 Cat ipsum. Cheetah kitten but british shorthair cougar but british shorthair, so tabby.

    .col-sm-5
      .well
        %p NOW PLAYING Cat ipsum. Cheetah kitten but british shorthair cougar but british shorthair, so tabby.

      .listen_now.well
        =link_to "Listen Right Now", "/listen_live", onclick: "window.open('/listen_live','Listen Live','height=270,width=400'); return false", class: "btn btn-xlarge btn-danger btn-extend"

      .contact_dj.well
        %p Ask the DJ
        %iframe{src: "http://www.tumblr.com/ask_form/houseofsoundradio.tumblr.com/", frameborder: "0", scrolling: "no", width: "300", height: "250"}

      .contact_dj.well
        %p Call the DJ
        %p 503-575-9344

      .twitter.well
        <a class="twitter-timeline" href="https://twitter.com/houseofsound" data-widget-id="471797898695303168">Tweets by @houseofsound</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      .skype.well
        %h3 Skype with Us!
        %div{id: "SkypeButton_Call_houseofsoundpdx_1"}
          :javascript
            Skype.ui({
              "name": "dropdown",
              "element": "SkypeButton_Call_houseofsoundpdx_1",
              "participants": ["houseofsoundpdx"],
              "imageSize": 32
            });
        %p Note: You must have Skype installed.
