!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    =csrf_meta_tags 
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "House of Sound is the largest free-form radio station in Portland, Oregon. Our DJs play whatever they want - unlike other local radio stations, there is no compulsory \"Top Hits\" rotation.", :name => "description"}/
    %title House of Sound
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'custom'

    = javascript_include_tag 'swfobject'
    = javascript_include_tag 'audio-player'
    = javascript_include_tag 'application'

  %body
    .tumblr.well.col-sm-6
      %p HOUSE OF SOUND
      <script type="text/javascript" src="http://houseofsoundradio.tumblr.com/js"></script>

    .well.col-sm-5.pull-right
      %p NOW PLAYING Cat ipsum. Cheetah kitten but british shorthair cougar but british shorthair, so tabby. 

    .listen_now.well.col-sm-5.pull-right
      %p LISTEN NOW

    .contact_dj.well.col-sm-5.pull-right
      %p Ask the DJ
      <iframe frameborder="0" scrolling="no" width="300" height="250" src="http://www.tumblr.com/ask_form/houseofsoundradio.tumblr.com/" value="Ask the DJ..."></iframe>

    .contact_dj.well.col-sm-5.pull-right
      %p Call the DJ
      %p 503-575-9344

    .donate.well.col-sm-6
      %p IPSUM Cat ipsum. Cheetah kitten but british shorthair cougar but british shorthair, so tabby. 

    .twitter.well.col-sm-5.pull-right
      <a class="twitter-timeline" href="https://twitter.com/houseofsound" data-widget-id="471797898695303168">Tweets by @houseofsound</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    .affiliates.well.col-sm-6 
      %p IPSUM 2 Cat ipsum. Cheetah kitten but british shorthair cougar but british shorthair, so tabby. 
