!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    =csrf_meta_tags
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "House of Sound is the largest free-form radio station in Portland, Oregon. Our DJs play whatever they want - unlike other local radio stations, there is no compulsory \"Top Hits\" rotation.", :name => "description"}/
    %title House of Sound
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'custom'

    = javascript_include_tag 'swfobject'
    = javascript_include_tag 'audio-player'
    = javascript_include_tag 'application'

  %body
    .row
    .tumblr.well.col-md-6
      %script{:type => "text/javascript",
              :src  => "http://thehouseofsound.tumblr.com/js"}

    .well.col-md-5.col-sm-offset-1
      %p Who the fuck is Arthur Digby Sellers? Dolor sit amet, consectetur adipiscing elit praesent ac magna justo. Keep your ugly fucking goldbricking ass out of my beach community! Pellentesque ac lectus quis elit blandit. Jesus, you mix a hell of a Caucasian, Jackie. Fringilla a ut turpis praesent felis ligula, malesuada suscipit malesuada non, ultrices non urna. I'll tell you who I am! I'm the guy who's gonna KICK YOUR PHONY GOLDBRICKING ASS! Sed orci ipsum, placerat id condimentum rutrum, rhoncus ac lorem aliquam placerat.

      Say friend, ya got any more a that good sarsaparilla? Posuere neque, at dignissim magna ullamcorper in aliquam sagittis massa ac. He lives in North Hollywood on Radford, near the In-and-Out Burger. Tortor ultrices faucibus curabitur eu mi sapien, ut ultricies ipsum morbi eget risus. Beaver? You mean vagina? —I mean, you know him? Nulla nullam vel nisi enim, vel auctor. I've seen a lot of spinals, Dude, and this guy is a fake. A fucking goldbricker. Ante morbi id urna vel felis lacinia placerat.

