%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    =csrf_meta_tags
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "House of Sound is the largest free-form radio station in Portland, Oregon. Our DJs play whatever they want - unlike other local radio stations, there is no compulsory \"Top Hits\" rotation.", :name => "description"}/
    %title House of Sound
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'custom'

    = javascript_include_tag 'swfobject'
    = javascript_include_tag 'audio-player'
    = javascript_include_tag 'application'

  %body
    .tumblr.well.col-md-6
      %p HOUSE OF SOUND
      <script type="text/javascript" src="http://houseofsoundradio.tumblr.com/js"></script>

    .now_playing.well.col-md-5.col-sm-offset-1
      - if Schedule.now_playing(Time.now)
        = currently_playing = Schedule.now_playing(Time.now)
        %p Now Playing
        %p= image_tag currently_playing.program.avatar.url(:medium)
        %p= currently_playing.program.title
      - else 
        %p Next Up
        - if Schedule.find_next_schedule == nil
          %p There are no programs scheduled at this time.
        - else
          %p= image_tag Schedule.find_next_schedule.program.avatar.url(:medium)
          %p= Schedule.find_next_schedule.program.title

    .listen_now.well.col-md-5.col-sm-offset-1
      %p Listen Right Now
      %p (no media player required)
      <a href="#" onclick="window.open('/listen_live','Listen Live','height=270,width=400'); return false">
      = image_tag('button_play.png')
      </a>

    .contact_dj.well.col-md-5.col-sm-offset-1
      %p Ask the DJ
      <iframe frameborder="0" scrolling="no" width="300" height="250" src="http://www.tumblr.com/ask_form/houseofsoundradio.tumblr.com/" value="Ask the DJ..."></iframe>

    .contact_dj.well.col-md-5.col-sm-offset-1
      %p Call the DJ
      %p 503-575-9344

    .twitter.well.col-md-5.col-sm-offset-1
      <a class="twitter-timeline" href="https://twitter.com/houseofsound" data-widget-id="471797898695303168">Tweets by @houseofsound</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>