.row
  .col-sm-8
    .row
      .col-sm-12.col-md-5#logo
        =link_to image_tag("hos-logo-wht.png"), '/'
      .col-sm-12.col-md-5.col-md-offset-2{style: 'color: red; text-align: center'}
        %h4
          Portland's largest Free-Form
          %br Radio Station
        Est. 1994

    .row
      .col-xs-12#mainnav
        =link_to "SCHEDULE", schedules_path, class: "navbar-text"
        =link_to "CONTACT", new_inquiry_path, class: "navbar-text"
        =link_to "JOIN", new_dj_application_path, class: "navbar-text"
        =link_to "LISTEN", listen_live_path, onclick: "window.open('/listen_live','Listen Live','height=270,width=400'); return false", class: "navbar-text"

    .row
      .tumblr.well
        .row
          .col-sm-12.col-md-5.col-lg-4.titlebox
            %a{:href => 'http://houseofsoundradio.tumblr.com'} houseofsoundradio
          .row
            %script{type: "text/javascript", src: "http://houseofsoundradio.tumblr.com/js"}

      #donate
        .row
          .col-md-6
            %h1 DONATE
            %br
            Donate to House of Sound and help us keep Portland weird. Or normal. Whatever you're feeling like today. No pressure.
          .col-md-6
            =image_tag("hos_shirts_crop.jpg", alt: "Buy a t-shirt to support House of Sound", align: "center", width:"250")

            %p Buy a House of Sound T-shirt for just $10, proceeds help support House of Sound

            %form{action: "https://www.paypal.com/cgi-bin/webscr", method: "post"}
              %input{type: "hidden", name: "cmd", value: "_s-xclick"}
              %input{type: "hidden", name: "hosted_button_id", value: "Q88A8GFSH4PSU"}
              %label Select Size
              %input{type: "hidden", name: "on0", value: "Sizes"}
              %select{name: "os0"}
                %option{value: "Black Youth L"}= "Black Youth L"
                %option{value: "Black Adult S"}= "Black Adult S"
                %option{value: "Black Adult M"}= "Black Adult M"
                %option{value: "Black Adult L"}= "Black Adult L"
                %option{value: "Black Adult XL"}= "Black Adult XL"
                %option{value: "White Youth L"}= "White Youth L"
                %option{value: "White Adult S"}= "White Adult S"
                %option{value: "White Adult M"}= "White Adult M"
                %option{value: "White Adult L"}= "White Adult L"
                %option{value: "White Adult XL"}= "White Adult XL"
              %br
              %input{class: "ppbut", type: "image", src: "https://www.paypalobjects.com/en_US/i/btn/btn_buynow_SM.gif", border: "0", width: "86", height: "21", name: "submit", alt: "PayPal - The safer, easier way to pay online!"}

  .col-sm-4
    .row.now_playing.well
      - if Schedule.now_playing(Time.now)
        - currently_playing = Schedule.now_playing(Time.now)
        .row
          .col-lg-6.col-md-12#onair
            =image_tag("http://houseofsound.org/img/hos_live.png")
          %h2 NOW PLAYING:
          = image_tag currently_playing.program.avatar.url(:medium)
          %h2= currently_playing.program.title
      - else 
        .row
          .col-lg-6.col-md-12#offair
            =image_tag("http://houseofsound.org/img/hos_standby.png")
          .col-lg-6.col-md-12
            %h2 NEXT LIVE SHOW:
          - if Schedule.find_next_schedule == nil
            %p There are no programs scheduled at this time.
          - else
        .row
          = image_tag Schedule.find_next_schedule.program.avatar.url(:medium)
          %h2= Schedule.find_next_schedule.program.title
          
    %hr

    .row
      .col-lg-12#listennow
        =link_to "Listen Now", "/listen_live", onclick: "window.open('/listen_live','Listen Live','height=270,width=400'); return false", class: "btn btn-xlarge btn-danger btn-extend"
    %hr
    
    .row#contactdj
      %span.red.big Contact the DJ
      .well
        .titlebox
          %h3 Call 503-575-9344
        %h4 or just type something below &#10549;
        %iframe{src: "http://www.tumblr.com/ask_form/houseofsoundradio.tumblr.com/", frameborder: "0", scrolling: "no", width: "95%", height: "250"}
        
    %hr

    .row.well{style: 'text-align: center'}
      <a class="twitter-timeline" data-chrome="noscrollbar transparent" height="400" href="https://twitter.com/houseofsound" data-widget-id="471797898695303168">Tweets by @houseofsound</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    -#.row.skype
      %h3 Skype with Us!
      %div{id: "SkypeButton_Call_houseofsoundpdx_1"}
        :javascript
          Skype.ui({
            "name": "dropdown",
            "element": "SkypeButton_Call_houseofsoundpdx_1",
            "participants": ["houseofsoundpdx"],
            "imageSize": 32
          });
      %p Note: You must have Skype installed.
