%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    =csrf_meta_tags
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "House of Sound is the largest free-form radio station in Portland, Oregon. Our DJs play whatever they want - unlike other local radio stations, there is no compulsory \"Top Hits\" rotation.", :name => "description"}/
    %title House of Sound
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'custom'

    = javascript_include_tag 'swfobject'
    = javascript_include_tag 'audio-player'
    = javascript_include_tag 'application'

  %body
    .col-sm-7
      .tumblr.well
        %p HOUSE OF SOUND
        %script{type: "text/javascript", src: "http://houseofsoundradio.tumblr.com/js"}

      .tshirt.well
        =image_tag("hos_shirts_crop.jpg", alt: "Buy a t-shirt to support House of Sound", align: "center")

        %p Buy a House of Sound T-shirt for just $10, proceeds help support House of Sound

        %form{action: "https://www.paypal.com/cgi-bin/webscr", method: "post"}
          %input{type: "hidden", name: "cmd", value: "_s-xclick"}
          %input{type: "hidden", name: "hosted_button_id", value: "Q88A8GFSH4PSU"}
          %label Select Size
          %input{type: "hidden", name: "on0", value: "Sizes"}
          %select{name: "os0"}
            %option{value: "Black Youth L"}= "Black Youth L"
            %option{value: "Black Adult S"}= "Black Adult S"
            %option{value: "Black Adult M"}= "Black Adult M"
            %option{value: "Black Adult L"}= "Black Adult L"
            %option{value: "Black Adult XL"}= "Black Adult XL"
            %option{value: "White Youth L"}= "White Youth L"
            %option{value: "White Adult S"}= "White Adult S"
            %option{value: "White Adult M"}= "White Adult M"
            %option{value: "White Adult L"}= "White Adult L"
            %option{value: "White Adult XL"}= "White Adult XL"
          %br
          %input{class: "ppbut", type: "image", src: "https://www.paypalobjects.com/en_US/i/btn/btn_buynow_SM.gif", border: "0", width: "86", height: "21", name: "submit", alt: "PayPal - The safer, easier way to pay online!"}

      .affiliates.well
        %p IPSUM 2 Cat ipsum. Cheetah kitten but british shorthair cougar but british shorthair, so tabby.

    .col-sm-5
      .now_playing.well
        - if Schedule.now_playing(Time.now)
          - currently_playing = Schedule.now_playing(Time.now)
          %p Now Playing
          %p= image_tag currently_playing.program.avatar.url(:medium)
          %p= currently_playing.program.title
        - else 
          %p Next Up
          - if Schedule.find_next_schedule == nil
            %p There are no programs scheduled at this time.
          - else
            %p= image_tag Schedule.find_next_schedule.program.avatar.url(:medium)
            %p= Schedule.find_next_schedule.program.title
      .well
        %p NOW PLAYING Cat ipsum. Cheetah kitten but british shorthair cougar but british shorthair, so tabby.

      .listen_now.well
        =link_to "Listen Right Now", "/listen_live", onclick: "window.open('/listen_live','Listen Live','height=270,width=400'); return false", class: "btn btn-xlarge btn-danger btn-extend"

      .contact_dj.well
        %p Ask the DJ
        %iframe{src: "http://www.tumblr.com/ask_form/houseofsoundradio.tumblr.com/", frameborder: "0", scrolling: "no", width: "300", height: "250"}

      .contact_dj.well
        %p Call the DJ
        %p 503-575-9344

      .twitter.well
        <a class="twitter-timeline" href="https://twitter.com/houseofsound" data-widget-id="471797898695303168">Tweets by @houseofsound</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
