!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    =csrf_meta_tags
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "House of Sound is the largest free-form radio station in Portland, Oregon. Our DJs play whatever they want - unlike other local radio stations, there is no compulsory \"Top Hits\" rotation.", :name => "description"}/
    %title House of Sound
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'custom'

    = javascript_include_tag 'swfobject'
    = javascript_include_tag 'audio-player'
    = javascript_include_tag 'application'

  %body
    .col-sm-7
      .tumblr.well
        %p HOUSE OF SOUND
        %script{type: "text/javascript", src: "http://houseofsoundradio.tumblr.com/js"}

    .now_playing.well.col-md-5.col-sm-offset-1
      %p= @schedules.now_playing != nil ? "NOW PLAYING" : "NEXT UP"  
      = @schedules.now_playing != nil ? image_tag('#{@schedules.now_playing.program.avatar}') : image_tag('#{@schedules.find_next_schedule(0).program.avatar}') 
      %p= @schedules.now_playing != nil ? @schedules.now_playing.program.title : @schedules.find_next_schedule(0).program.title
      
    .listen_now.well.col-md-5.col-sm-offset-1
      %p Listen Right Now
      %p (no media player required)
      <a href="#" onclick="window.open('/listen_live','Listen Live','height=270,width=400'); return false">
      = image_tag('button_play.png')
      </a>

      .contact_dj.well
        %p Ask the DJ
        %iframe{src: "http://www.tumblr.com/ask_form/houseofsoundradio.tumblr.com/", frameborder: "0", scrolling: "no", width: "300", height: "250"}

      .contact_dj.well
        %p Call the DJ
        %p 503-575-9344

      .twitter.well
        <a class="twitter-timeline" href="https://twitter.com/houseofsound" data-widget-id="471797898695303168">Tweets by @houseofsound</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
