.row
  .col-sm-7
    .row
      .col-sm-5
        =image_tag("hos-logo-wht.png")
      .col-sm-5.col-sm-offset-1{style: 'color: red; text-align: center'}
        %h4
          Portland's largest Free-Form Radio Station
        Est. 1994

    .row
      .col-sm-12{style: 'font-size: 24pt; font-weight: bolder;'}
        =link_to "SCHEDULE", schedules_path, class: "navbar-text"
        =link_to "CONTACT", new_inquiry_path, class: "navbar-text"
        =link_to "JOIN", new_dj_application_path, class: "navbar-text"
        =link_to "LISTEN", listen_live_path, onclick: "window.open('/listen_live','Listen Live','height=270,width=400'); return false", class: "navbar-text"

    .tumblr.well
      %p HOUSE OF SOUND
      %script{type: "text/javascript", src: "http://houseofsoundradio.tumblr.com/js"}

      .tshirt
        .row
          .col-sm-11.col-sm-offset-1
            =image_tag("hos_shirts_crop.jpg", alt: "Buy a t-shirt to support House of Sound", class: 'col-sm-11')
        .row
          .col-sm-11.col-sm-offset-1
            %p Buy a House of Sound T-shirt for just $10, proceeds help support House of Sound

            %form{action: "https://www.paypal.com/cgi-bin/webscr", method: "post"}
              %input{type: "hidden", name: "cmd", value: "_s-xclick"}
              %input{type: "hidden", name: "hosted_button_id", value: "Q88A8GFSH4PSU"}
              %label Select Size
              %input{type: "hidden", name: "on0", value: "Sizes"}
              %select{name: "os0"}
                %option{value: "Black Youth L"}= "Black Youth L"
                %option{value: "Black Adult S"}= "Black Adult S"
                %option{value: "Black Adult M"}= "Black Adult M"
                %option{value: "Black Adult L"}= "Black Adult L"
                %option{value: "Black Adult XL"}= "Black Adult XL"
                %option{value: "White Youth L"}= "White Youth L"
                %option{value: "White Adult S"}= "White Adult S"
                %option{value: "White Adult M"}= "White Adult M"
                %option{value: "White Adult L"}= "White Adult L"
                %option{value: "White Adult XL"}= "White Adult XL"
              %br
              %input{class: "ppbut", type: "image", src: "https://www.paypalobjects.com/en_US/i/btn/btn_buynow_SM.gif", border: "0", width: "86", height: "21", name: "submit", alt: "PayPal - The safer, easier way to pay online!"}

  .col-sm-5
    .now_playing.well
      - if @now_playing
        %p Now Playing
        %p
          =link_to image_tag(now_playing.program.avatar.url(:medium)), @now_playing.program
        %p= now_playing.program.title
      - else 
        %p Next Up
        - if !@next_up
          %p There are no programs scheduled at this time.
        - else
          %p= link_to image_tag(@next_up.program.avatar.url(:medium)), @next_up.program
          %p= @next_up.program.title
          %p= @next_up.show_time
          %p= truncate(@next_up.program.description, length: 100)

    .row
      .col-sm-4.col-sm-offset-3
        =link_to "Listen Now", "/listen_live", onclick: "window.open('/listen_live','Listen Live','height=270,width=400'); return false", class: "btn btn-xlarge btn-danger btn-extend", style: 'font-size: 24pt'

    .row
      .col-sm-12{style: 'text-align: center'}
        %h3 Chat with the dJ
        %h4 503-575-9344
        %h4 OR
        %iframe{src: "http://www.tumblr.com/ask_form/houseofsoundradio.tumblr.com/", frameborder: "0", scrolling: "no", width: "300", height: "250"}

    .row
      <a class="twitter-timeline" href="https://twitter.com/houseofsound" data-widget-id="471797898695303168">Tweets by @houseofsound</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    .row.skype
      %h3 Skype with Us!
      %div{id: "SkypeButton_Call_houseofsoundpdx_1"}
        :javascript
          Skype.ui({
            "name": "dropdown",
            "element": "SkypeButton_Call_houseofsoundpdx_1",
            "participants": ["houseofsoundpdx"],
            "imageSize": 32
          });
      %p Note: You must have Skype installed.
