%link{:href => "http://fonts.googleapis.com/css?family=Francois+One", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic", :rel => "stylesheet", :type => "text/css"}/
#headline
  - if @program
    #on_the_air
    - if @program.amazon_filename
      %br/
      %center
        %img{:src => @program.amazon_public_url(:large)}/
    %h1= h @program.name
    %h2
      with #{h @program.deejays} until #{h @program.end_time}
    %h3= h @program.description
  %h1
    %img{:alt => "House of Sound", :src => "/img/houseofsound_header.png"}/
  %h3
    Welcome to the largest free-form station in Portland, OR with
    %b= h @program_count.en.numwords
    live shows per week.
    - unless @program
      %a{:href => "/programs"} Check the schedule
      or listen live now.
  %div{:style => "align:center; margin-left: auto; margin-right: auto; width: 590px;"}
    %table{:border => "0", :cellpadding => "10", :cellspacing => "10", :width => "90%"}
      %tr
        %td{:colspan => "2"}
          %h3
            %b CHECK OUT SOME VIDEO FROM OUR LIVE EVENTS!
      %tr
        %td
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "298", :src => "//www.youtube.com/embed/videoseries?list=PLCD56208C7EC0DE4E", :width => "530"}
          %br/
      %tr
        %td
          %br/
          %h3
          %br/
          %b
      %tr
        %td
          %center
            %img{:src => "/img/hostshirt.jpg"}/
            %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
              %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
              %input{:name => "hosted_button_id", :type => "hidden", :value => "Q88A8GFSH4PSU"}/
              %table
                %tr
                  %td
                    %input{:name => "on0", :type => "hidden", :value => "Sizes"}>/
                    Select size:
                %tr
                  %td
                    %select{:name => "os0"}
                      %option{:value => "Youth L"} Youth L
                      %option{:value => "Adult S"} Adult S
                      %option{:value => "Adult M"} Adult M
                      %option{:value => "Adult L"} Adult L
                      / option value="Adult XL">Adult XL </option
              %input.ppbut{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :height => "21", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_buynow_SM.gif", :type => "image", :width => "86"}/
              %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}/
      %tr
        %td{:colspan => "2"}
          %b THE WHITE HOUSE OF SOUND BLUE LOGO T-SHIRT FOR JUST $10!
          %p{:align => "center"}
            %i Proceeds help support House of Sound
      %tr
        %td{:colspan => "2"}
          %br/
          %br/
    %iframe{:allowtransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fhouseofsound.org&amp;send=false&amp;layout=standard&amp;width=530&amp;show_faces=false&amp;font=arial&amp;colorscheme=dark&amp;action=like&amp;height=35", :style => "border:none; overflow:hidden; width:530px; height:35px;"}
    %iframe{:allowtransparency => "true", :frameborder => "0", :scrolling => "no", :src => "https://platform.twitter.com/widgets/tweet_button.html?url=http://houseofsound.org&text=Check%20out%20@HouseofSound", :style => "width:130px; height:20px;"}
