%h1 CONTACT US
- flash.each do |name, msg|
  %h2{class: name}= msg

= simple_form_for @inquiry do |f|
  = f.error_messages
  = f.input :name, as: :text
  = f.input :email, as: :text
  = f.input :subject, as: :text
  = f.input :message
  = f.input :blue_meanies, as: :text
  = f.button :submit, t('inquiries.shout_out')

