%h1= t('dj_applications.apply_to_be_a_dj').upcase
.apply{style: 'margin-bottom: 30px;'}
  %h3
    = t('dj_applications.are_you_passionate_about_music')    
    %b= t('dj_applications.thats_house_of_sound')
    = t('dj_applications.wed_like_you_to_join')

- flash.each do |name, msg|
  %h2{class: name}= msg

= simple_form_for @dj_application do |f|
  = f.error_messages
  = f.input :name, as: :text
  = f.input :email, as: :text
  = f.input :phone, as: :text
  = f.input :show_description
  = f.input :show_name, as: :text
  = f.input :dj_name, as: :text
  = f.label :is_cost_ok, as: :text
  = f.check_box :is_cost_ok, class: 'boolean'
  .info= t('dj_applications.dues_are_for')
  = f.input :availability, as: :text
  Please check the program schedule for an open time slot.
  = f.input :internal_contacts
  = f.input :blue_meanies, as: :text
  = f.button :submit, t('send').upcase
