!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    =csrf_meta_tags
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "House of Sound is the largest free-form radio station in Portland, Oregon. Our DJs play whatever they want - unlike other local radio stations, there is no compulsory \"Top Hits\" rotation.", :name => "description"}/
    %title House of Sound
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'screen'

    %meta{:content => "House of Sound", :property => "og:title"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "http://www.houseofsound.org", :property => "og:url"}/
    %meta{:content => "http://houseofsound.org/img/houseofsound_squarelogo.png", :property => "og:image"}/
    %meta{:content => "House of Sound, with #{h program_count.to_words} live shows per week, is the largest free-form radio station in Portland, Oregon.", :property => "og:description"}/
    = render partial: "shared/analytics"

    = javascript_include_tag 'swfobject'
    = javascript_include_tag 'audio-player'
    = javascript_include_tag 'application'

  %body
    #container
      .link{align:"right"}
        -if current_user
          %p Logged in as #{current_user.email}
          =link_to "Sign Out", destroy_user_session_path, method: :delete
          =link_to "My Profile", user_path(current_user)
        -else
          =link_to "Sign In", new_user_session_path

      =flash[:alert]
      =flash[:notice]
      =yield

