!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "House of Sound is the largest free-form radio station in Portland, Oregon. Our DJs play whatever they want - unlike other local radio stations, there is no compulsory \"Top Hits\" rotation.", :name => "description"}/
    %title House of Sound
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'screen'

    %meta{:content => "House of Sound", :property => "og:title"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "http://www.houseofsound.org", :property => "og:url"}/
    %meta{:content => "http://houseofsound.org/img/houseofsound_squarelogo.png", :property => "og:image"}/
    %meta{:content => "House of Sound, with #{h program_count.to_words} live shows per week, is the largest free-form radio station in Portland, Oregon.", :property => "og:description"}/
    = render partial: "shared/analytics"

    = javascript_include_tag 'swfobject'
    = javascript_include_tag 'audio-player'

    :javascript
      AudioPlayer.setup("/swf/playback-player.swf", {  
        width: 290,
        transparentpagebg: "yes",  
        left: "000000",  
        lefticon: "FFFFFF"
      });
  %body
    #container
      #navigation
        #lghdr
          %a{:href => "/"}
            = image_tag "hos-logo-wht.png"
        .link
          %a{:href => "/"} HOME
        .link
          %a{:href => "/programs"} SCHEDULE
        .link
          %a{:href => "/contact"} CONTACT
        .link
          %a{:href => "/apply"} JOIN
        .link
          %a{:href => "#", :onclick => "window.open('/listen_live','Listen Live','height=270,width=400'); return false"} LISTEN
      #column_left
        #content
          = yield
      #column_right
        #live_player
          %h1 LISTEN RIGHT NOW
          %h2 (No media player required)
          #player
            %a{:href => "#", :onclick => "window.open('/listen_live','Listen Live','height=270,width=400'); return false"}
              = image_tag 'button_play.png'
          %h3
            or
            %a{:href => STREAM_URL} Play in iTunes/Media Player
        :javascript
          i_am_chatting = 0;
                
          //        chathtml="<br/><center><object width=300 height=275><param name=movie value=http://widget.meebo.com/mm.swf?ZxlXunwcfQ/><embed src=http://widget.meebo.com/mm.swf?ZxlXunwcfQ type=application/x-shockwave-flash width=300 height=275></embed></object></center>";
                  chathtml="<div style='height:400px;'><iframe style='overflow:hidden;width:100%;height:100%;' frameborder='0' border='0' src='http://chat.zoho.com/mychat.sas?u=1e5b05da2227faea6562d308298ac7a2&chaturl=House%20of%20Sound%20DJ%20Chat&V=ffffff-000000-e9e9e9-000000-Yo%2C%20DJ%21'></iframe></div>";
                
                  function chatalert(){
                  	alert(chathtml);
                  }
                
                  function showchat(){
                    if(i_am_chatting == 1) {
                      return;
                    } else {
                      i_am_chatting = 1;
                  	  document.getElementById('contact_panel').innerHTML = document.getElementById('contact_panel').innerHTML + chathtml;
                  	}
                  }
        #contact_panel
          TALK TO THE DJ:
          %a{:href => "tel://5035759344"}/
          %h1 503-575-9344
          %script{:src => "http://cdn.dev.skype.com/uri/skype-uri.js", :type => "text/javascript"}
          #SkypeButton_Call_houseofsoundpdx_1
            :javascript
              Skype.ui({
                "name": "call",
                "element": "SkypeButton_Call_houseofsoundpdx_1",
                "participants": ["houseofsoundpdx"],
                "imageSize": 32
              });
            %a{:href => "http://www.facebook.com/houseofsound"}
              = image_tag "fb.gif", style: 'padding-right: 2px;'
            %a{:href => "http://twitter.com/houseofsound"}
              = image_tag 'twitter.png'
            %br/
            %a{:href => "mailto:admins@houseofsound.org?subject=Website Message"}
              = image_tag 'email.png', style: 'padding-right: 2px;'
            %a{:href => "http://youtu.be/yZeRA4mdcos"}
              = image_tag 'youtube.png', style: 'padding-right: 2px;'
            %a{:href => "http://instagram.com/houseofsound"}
              = image_tag 'instagram.png', style: 'padding-right: 2px;'
            %a{:href => "http://tinychat.com/houseofsound"}
              = image_tag 'tinychat.png', style: 'padding-right: 2px;'
            %a{:href => "http://mibbit.com/?channel=%23HoS&server=irc.mibbit.net"}
              = image_tag 'mibbit.png', style: 'padding-right: 2px;'
            %script{:src => "http://cdn.dev.skype.com/uri/skype-uri.js", :type => "text/javascript"}
            #SkypeButton_Chat_houseofsoundpdx_1
              :javascript
                Skype.ui({
                  "name": "chat",
                  "element": "SkypeButton_Chat_houseofsoundpdx_1",
                  "participants": ["houseofsoundpdx"],
                  "imageSize": 32
                });
          %iframe{:frameborder => "0", :height => "195", :scrolling => "no", :src => "http://www.ustream.tv/embed/11191573", :style => "border: 0px none transparent;", :width => "300"}
          %br/
          / Web IM: <a href="javascript:showchat();"><b>CHAT NOW</b></a><br/><br />
    /
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" id="donate_form">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHNwYJKoZIhvcNAQcEoIIHKDCCByQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAG/UsJUJ15XjF3r2765vuiEUK8btFdgzs3PTmTZNzI0CbcgfU0lH3pMmmHRdDIWu9FGvfQn1+RcgPXLnBeH4QwQw0470Dm1QAo1RvJtIM7bz/dtJdJF0vxEXPEtoKo6fszW6ySnfR74GSTq7BN2qb9KCvh88kEF3zr9KaW5pXryjELMAkGBSsOAwIaBQAwgbQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIcGlbvQSq06+AgZChUeh1KbNI+u2HG9fuywqFLqQxxhyZhY3ZECL6wWhbgFc/jsGjzgPsTSaLiVrt1AdQDPhCL/mzYiME1AA5H/sJ2rE2yKtW6JIDpXhx25ixX6xeBH3Ga4XTPLaE7eNeC/kBwPgbh8YqwBCxlFUbhkSzapAAlDMD+t1SPtonFRH6WiCV4etByViZ6hKlWKK+L7WgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xMDAxMDMyMTM5MjdaMCMGCSqGSIb3DQEJBDEWBBSH2S79Ujwa2NQR/ACK7K/x5fcw/jANBgkqhkiG9w0BAQEFAASBgEZFhbFEYRQSUjx1nXR8jR098NHgZLY87mS1P6ORLD6k0yl0K6ptrZELEsiwMegxUsnSNTsQ6UVEvjVDtsMmUODIaHvTffIE0qTNUFnr3tiXU81HwsjE45qb8YFivVxd3dqxz4N7P/2rjUn8oeqPMZAFwQR4wGv60S1qWDMlbhey-----END PKCS7-----
      ">
      <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
      var pageTracker = _gat._getTracker("UA-2172691-3");
      pageTracker._trackPageview();
      } catch(err) {}
