!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    =csrf_meta_tags
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "House of Sound is the largest free-form radio station in Portland, Oregon. Our DJs play whatever they want - unlike other local radio stations, there is no compulsory \"Top Hits\" rotation.", :name => "description"}/
    %title House of Sound
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'custom'

    = javascript_include_tag 'swfobject'
    = javascript_include_tag 'audio-player'
    = javascript_include_tag 'application'

  %body
    
  .container
    =flash[:alert]
    =flash[:notice]
    =yield

  %footer
    .navbar.navbar-inverse
      .container
        =link_to "House of Sound", root_path, class: "navbar-brand"
        -if current_user.nil?
          =link_to "Sign In", new_user_session_path, class: "navbar-text navbar-right"
        -elsif current_user.has_role?(:DJ)
          =link_to "Sign Out", destroy_user_session_path, method: :delete, class: "navbar-text navbar-right"
          =link_to "Edit Profile", edit_user_path(current_user), class: "navbar-text navbar-right"
          =link_to "Record Episode", new_episode_path, class: "navbar-text navbar-right"

        -elsif current_user.has_role?(:Admin)
          =link_to "Sign Out", destroy_user_session_path, method: :delete, class: "navbar-text navbar-right"
          =link_to "Admin Dashboard", "/admin", class: "navbar-text navbar-right"
    %p.copyright House of Sound ® 2014