!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    =csrf_meta_tags
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "House of Sound is the largest free-form radio station in Portland, Oregon. Our DJs play whatever they want - unlike other local radio stations, there is no compulsory \"Top Hits\" rotation.", :name => "description"}/
    %title House of Sound
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'custom'

    = javascript_include_tag 'swfobject'
    = javascript_include_tag 'audio-player'
    = javascript_include_tag 'application'

  %body
    .navbar
      .container
        .navbar-header
          =link_to image_tag("hos-logo-wht.png"), '/', class: "navbar-text"
          =link_to "HOME", root_path, class: "navbar-text"
          =link_to "SCHEDULE", schedules_path, class: "navbar-text"
          =link_to "CONTACT", new_inquiry_path, class: "navbar-text"
          =link_to "JOIN", new_dj_application_path, class: "navbar-text"
          =link_to "LISTEN", listen_live_path, onclick: "window.open('/listen_live','Listen Live','height=270,width=400'); return false", class: "navbar-text"

    .container
      =flash[:alert]
      =flash[:notice]
      =yield
      .push

    .footer
      .navbar.navbar-default
        .navbar-bottom
          =link_to "HOUSE OF SOUND", root_url, class: "navbar-brand"
          =link_to "HOME", root_url, class: "navbar-text"
          -if current_user.nil?
            =link_to "SIGN IN", new_user_session_path, class: "navbar-text"
          -elsif current_user.has_role?(:DJ)
            =link_to "RECORD EPISODE", new_episode_path, class: "navbar-text"
            =link_to "EDIT PROFILE", edit_user_path(current_user), class: "navbar-text"
            =link_to "SIGN OUT", destroy_user_session_path, method: :delete, class: "navbar-text"
          -elsif current_user.has_role?(:Admin)
            =link_to "ADMIN DASHBOARD", "/admin", class: "navbar-text"
            =link_to "SIGN OUT", destroy_user_session_path, method: :delete, class: "navbar-text"

          .navbar-right.media
            =link_to image_tag("fb_follow.jpg", size: "80x25"), "https://www.facebook.com/houseofsound"
            =link_to image_tag("tumblr.png", size: "25"), "http://www.tumblr.com/follow/houseofsoundradio/"
            =link_to image_tag("instagram.png", size: "25"), "http://instagram.com/houseofsound"
            =link_to image_tag("email.png", size: "60x25"), "mailto:admins@houseofsound.org"

      %p.copyright House of Sound ® 2014
